*, *:before, *:after {
    box-sizing: border-box;
}
body, html {
    height: 100%;
    overflow: hidden;
}
body, ul {
    margin: 0;
    padding: 0;
}
body {
    color: #4d4d4d;
    font: 14px/1.4em 'Helvetica Neue', Helvetica, 'Microsoft Yahei', Arial, sans-serif;
    background: #f5f5f5 url('../images/bg.jpg') no-repeat center;
    background-size: cover;
    font-smoothing: antialiased;
}
ul {
    list-style: none;
}