/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-9-14, 15:24:26
    Author     : Only
*/
.more {
    float: right;
    margin-right: 20px;
    cursor: pointer;
}

.group-list {
    position: absolute;
    display: none;
    width: 250px;
    height: 550px;
    background: #eef1f4;
    top: 0;
    left: 800px;
}

.list-members {
    /*height:350px;*/
    /*overflow-y: auto;*/
}

.baidu-map {
    width: 400px;
    height: 400px;
    overflow: hidden;
    margin: 5px 5px 5px 5px;
    font-family: "微软雅黑";
}

.photo img {
    width: 130px;
    height: 133px;
}

.message-list .right .photo {
    display: inline-block;
    position: relative;
    max-width: calc(100% - 40px);
    min-height: 30px;
    line-height: 2.5;
    font-size: 9pt;
    word-break: break-all;
    background-color: #fafafa;
    border-radius: 4px;
    border: 1px solid #d5d5d5;
}

.message-list .right .photo:before {
    content: " ";
    position: absolute;
    top: 9px;
    border: 6px solid transparent;
    right: inherit;
    left: 100%;
    border-right-color: transparent;
    border-left-color: #d5d5d5;
}

.oim {
    position: relative;
    margin: 3% auto;
    border-radius: 4px;
    width: 800px;
    height: 550px;
}

.sidebar {
    float: left;
    width: 60px;
    height: 100%;
    color: #f4f4f4;
    background-color: #eef1f4;
}

.pane {
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: #eee
}

.user-head {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    height: 50px;
}

.user-title {
    width: 219px;
    padding-bottom: 10px;
    position: relative;
    background: #2a3851;
}

.user-message {
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 60px;
    color: #fff;
}

#personal {
    display: none;
    position: absolute;
    width: 280px;
    height: 218px;
    background: #fff;
    top: 36px;
    left: 33px;
    border-radius: 4px;
}



.avatar {
    border-radius: 50%;
    vertical-align: middle;
}

.search {
    position: relative;
    width: 220px;
    height: 50px;
    background: #232e42;
    margin: -1px 0 0 -1px;
}

.member-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.group-member li {
    display: inline-block;
    margin: 15px 0 0 8px;
    width: 50px;
    font-size: 12px;
}

.group-member {
    margin-left: 20px;
    height: 300px;
    overflow-y: auto;
}

.search input {
    width: 160px;
    height: 25px;
    margin: 10px 0 0 15px;
    background: #3c4a62;
    border: none;
    border-radius: 3px;
    color: #9da2ac;
}

.book {
    float: left;
}

.search1 {
    margin: 21px 0 14px 40px;
}

.search1 input {
    width: 160px;
    height: 25px;
    margin: -1px 0 0 15px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #9da2ac;
}

.tishi {
    position: absolute;
    float: right;
    color: #ccc;
    top: 18px;
    left: 365px;
}

.add-list {
    position: absolute;
    height: 350px;
    width: 267px;
    top: 66px;
    left: 320px;
    overflow-y: auto;
}

.add-list li {
    margin-bottom: 25px;
}

.book-add button {
    position: absolute;
    width: 55px;
    height: 27px;
    border: none;
    color: #fff;
    cursor: pointer;
}

.book-add #yes {
    top: 430px;
    left: 440px;
    background: #ff3131;
}

.book-add #no {
    top: 430px;
    left: 510px;
    background: #ccc;
}

.tab {
    height: calc(100% - 80px)
}

.tab ul {
    margin-top: 10px;
}

.tab ul li {
    padding: 10pt;
}

.tab-more {
    margin-top: 25px;
    margin-left: 11px;
    cursor: pointer;
}
.tab-icon{
    vertical-align: middle;
}

.set_up {
    display: none;
    background: #2a3851;
    width: 135px;
    height: 216px;
    position: absolute;
    top: 313px;
    left: 33px;
    color: #fff;
    border-radius: 4px;
}

.set_up li {
    width: 135px;
    height: 36px;
    cursor: pointer;
    line-height: 36px;
    padding-left: 16px;
}

.set_up li:hover {
    background: #3c4a62;
}

.modified {
    position: absolute;
    display: none;
    /*width:500px;*/
    /*height:325px;*/
    background: #fff;
    /*top:60px;*/
    /*left:170px;*/
    /*left: auto;*/
    /*text-align: center;*/
    border-radius: 3px;
}

.modified-img {
    width: 40px;
    height: 40px;
    margin: 27px auto;
}

.modified img {
    width: 40px;
    height: 40px;
}

.modified-information {
    /*width:400px;*/
    /*height:155px;*/
    margin: 0 auto;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.modified-information ul {
    /*width:227px;*/
    /*height:100px;*/
    margin: 20px auto;
    margin-right: 120px;
}

.modified-information li {
    text-align: right;
    margin-bottom: 10px;
}

.modified-button {
    width: 150px;
    float: right;
    margin-top: 30px;
}

.modified-button button {
    border: none;
    width: 55px;
    height: 29px;
    margin-right: 15px;
    border-radius: 4px;
    cursor: pointer;
}

.modified-button button:first-child {
    background: #ff3131;
    color: #fff;
}

.list-button button {
    width: 60px;
    height: 34px;
    background: #ff3131;
    border: 1px solid #ff3131;
    border-radius: 3px;
    color: #fff;
    float: right;
    margin: 20px 30px 0 0;
}

.list {
    float: left;
    height: 100%;
    background-color: #3c4a62;
}

.contacts {
    display: none;
    position: absolute;
    width: 390px;
    height: 225px;
    background: #fff;
    top: 150px;
    left: 220px;
    border-radius: 3px;
}

.contacts-search {
    width: 216px;
    height: 126px;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
}

.contacts-search ul {
    width: 216px;
    margin: 20px auto;
    padding-top: 10px;
    padding-top: 10px \0;
}

.contacts-search li {
    margin-top: 20px;
}

.group {
    /*display: none;*/
    position: absolute;
    width: 390px;
    height: 300px;
    /*top:103px;*/
    /*left:220px;*/
    background: #fff;

}

.list_group {
    width: 390px;
    height: 200px;
    /*overflow-y: auto;*/
}

.group p {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.list_group ul {
    width: 285px;
    height: 180px;
    margin: 0 auto;
}

.list_group li {
    margin-top: 20px;
}

.list_group button {
    float: right;
    width: 64px;
    height: 30px;
    background: #dbe2ef;
    border-radius: 3px;
    color: #747474;
    border: 1px solid #dbe2ef;
    cursor: pointer;
}

.affirm-button {
    width: 200px;
    float: right;
    margin-top: 20px;
}

.affirm-button button {
    border: none;
    width: 55px;
    height: 29px;
    margin-right: 15px;
    border-radius: 4px;
    cursor: pointer;
}

.affirm-button button:first-child {
    background: #ff3131;
    color: #fff;
    width: 95px;
}

.create-group {
    display: none;
    position: absolute;
    width: 390px;
    height: 225px;
    background: #fff;
    top: 150px;
    left: 220px;
    border-radius: 3px;
}

.create-list {
    width: 262px;
    height: 117px;
    margin: 10px auto;
    border-bottom: 1px solid #ccc;
}

.create-list ul {
    width: 259px;
    height: 117px;
    text-align: right;
    margin-top: 30px;
}

.create-list li {
    margin-top: 18px;
}

.list1 {
    width: 280px;
    height: 100px;
}

.list1 .uname {
    float: left;
    margin-top: 32px;
    margin-left: 34px;
    font-size: 27px;
}

.list1 .wnumber {
    float: left;
    display: inline-block;
    margin-left: -45px;
    margin-top: 77px;
}

.list1 span {
    float: right;
    margin-top: 32px;
    margin-right: 40px;
}

.line {
    width: 210px;
    border: 1px solid #f3f3f3;
    margin: 13px 0 0 32px;
}

#group-talk {
    display: none;
    position: absolute;
    width: 591px;
    height: 467px;
    top: 58px;
    left: 199px;
    background: #fff;
    border-radius: 5px;
}

.book {
    width: 292px;
    height: 467px;
    border-right: 1px solid #ccc;
}

.book-add {
    position: relative;
}

.list2 button {
    width: 50px;
    height: 30px;
    border: none;
    background: #ccc;
    color: #fff;
    float: right;
    margin: 16px 18px 0 0;
}

.pane-node {
    float: right;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.show-pane {
    float: right;
    height: 100%;
    width: 520px;
    position: relative;
    overflow: hidden;
}

.chose {
    width: 220px;
    height: 100%;
    /*margin-top:1px;*/
}

.name {
    display: inline-block;
    margin: 0 0 0 15px;
    vertical-align: middle;
}

.words {
    font-size: 11px;
    color: #c0c3c9;
}

.message-list {
    height: calc(100% - 240px);
    padding: 10px 15px;
    overflow-y: scroll;
}

.message-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.message-list li {
    margin-bottom: 15px;
}

.message-list .time {
    margin: 7px 0;
    text-align: center;
}

.message-list .main {
    position: relative;
    overflow: hidden;
    background-color: #eee;
}

.message-list .avatar {
    border-radius: 3px;
}

.message-list .text {
    display: inline-block;
    position: relative;
    padding: 0 10px;
    min-height: 30px;
    line-height: 2.5;
    font-size: 9pt;
    word-break: break-all;
    background-color: #fafafa;
    border-radius: 4px;
    max-width: 55%;
}

.yuyin {
    width: 23px;
    height: 23px;
}

/*.message-list .text:before {
    content: " ";
    position: absolute;
    top: 9px;
    right: 100%;
    border: 6px solid transparent;
    border-right-color: #fafafa;
}*/

.message-list .left {
    text-align: left;
}

.message-list .left .name {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 0px;
}

.message-list .left .avatar {
    float: left;
    margin: 0 10px 0 0;
}

.message-list .left .text {
    text-align: left;
}

.message-list .left .text:before {
    content: " ";
    position: absolute;
    top: 9px;
    right: 100%;
    border: 6px solid transparent;
    border-right-color: #fafafa;
}

.message-list .right {
    text-align: right;
}

.message-list .right .name {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 0px;
}

.message-list .right .avatar {
    float: right;
    margin: 0 0 0 10px;
}

.message-list .right .text {
    text-align: left;
    background-color: #dbe2ef;
}

.message-list .right .text:before {

    content: " ";
    position: absolute;
    top: 9px;
    border: 6px solid transparent;

    right: inherit;
    left: 100%;
    border-right-color: transparent;
    border-left-color: #dbe2ef;
}

.show-pane .chat-pane {
    width: 100%;
    height: 100%;
}

.chat-pane .state {
    float: left;
    position: absolute;
    top: 5px;
    left: 106px;
}

.show-pane .text-input-pane {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 145px;
    border-top: 1px solid #ddd;
    box-sizing: border-box;
}

.show-pane .text-input {
    width: 98%;
    height: 100px;
    padding: 0px 0px 0px 10px;
}

.show-pane .text-input textarea {
    width: 100%;
    height: 100px;
    border: hidden;
    background: transparent;
    border-style: none;
}

.show-pane .send {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 50px;
    text-align: right;
    padding: 5px 20px 15px 10px;
}

.show-pane .tool-bar {
    top: 5px;
    height: 30px;
    overflow: hidden;
    position: relative;
    padding: 0px 0px 0px 10px;

}

.show-pane .bar-icon {
    margin: 0 10px;
}

.list-root-pane {
    /*border: 1px solid #e2e2e2;*/
    border-radius: 2px;
}

.list-node-pane {
    /*border-top: 1px solid #e2e2e2;*/
}

.list-node-pane:hover {
    background-color: #2a3851;
    color: #fff;
}

#sousuo {
    display: none;
    width: 220px;
    height: 437px;
    background: #3c4a62;
    color: #fff;
    margin-left: -1px;
}

.list-root-pane .content {
    /*height:437px;*/
    margin-left: -1px;
    background: #3c4a62;
    color: #fff;
    width: 220px;
    /*overflow-y: auto;*/
}

.list-node-pane:first-child {
    /*border-top: none;*/
}

.list-node-pane .title {
    position: relative;
    height: 42px;
    line-height: 42px;
    padding: 0 15px 0 15px;
    /*color: #333;*/
    /*background-color: #f2f2f2;*/
    cursor: pointer;
    color: #fff7f7;
    /* background-color: #f2f2f2; */
}

.list-node-pane .name {
    display: inline-block;
    margin: 0 0 0 0px;
    vertical-align: middle;
    color: #fff;
}

.list-node-pane .icon {
    position: absolute;
    left: 15px;
    top: 0;
    font-size: 14px;
    font-family: layui-icon !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.list-node-pane .content {
    display: none;
    padding: 0px 0px;
    line-height: 22px;
    border-top: 1px solid #e2e2e2;
    color: #666;
}

.list-node-item ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list-node-item li {
    padding: 9pt 15px;
    /*border-bottom: 1px solid #292c33;*/
    cursor: pointer;
    -webkit-transition: background-color .1s;
    transition: background-color .1s;
}

.list-node-item li.active {
    /*background-color: hsla(0,0%,100%,.1);*/
    background-color: #232e42;
    color: #fff;
}

.list-node-item li:hover {
    background-color: #2a3851;
    color: #fff;
}

.chat-no {
    width: 100%;
    height: 100%;
    margin: 100px auto;
    text-align: center;
}

.chat-no-img {
    margin: 0 auto;
    text-align: center;
    opacity: 0.4;
    filter: alpha(opacity=40); /* 针对 IE8 以及更早的版本 */
}

.gray {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);

    filter: grayscale(100%);

    filter: gray;
}

.info-base {
    text-align: center;
    margin-top: 50px;
}

.info-pane {
    width: 80%;
    height: auto;
    margin: 114px auto;

}

.info-head {
    width: 200px;
    height: 65px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.info-head-left {
    float: left;
}

.info-head-left p {
    text-align: left;
    margin-bottom: 6px;
}

.info-head img {
    float: right;
}

.info-content {
    border-bottom: 1px solid #ddd;
    margin: 0px 0px 60px;
}

.info-content ul {
    margin: 0 0 20px 108px;
}

.info-content li {
    margin-top: 20px;
    text-align: left;
}

.wrap {
    /*width:50px;*/
    /*margin-bottom:10px;*/
    position: relative;
}

.img {
    /*width:50px;*/
    /*height:50px;*/
    border: 1px solid #000;
}

.notice {
    width: 15px;
    height: 15px;
    right: -5px;
    top: -5px;

    /*width:20px;*/
    /*height:20px;*/
    /*right:-10px;*/
    /*top:-10px;*/

    line-height: 20px;
    font-size: 10px;
    color: #fff;
    text-align: center;
    background-color: #f00;
    border-radius: 50%;
    position: absolute;
}

.head-notice {
    width: 12px;
    height: 12px;
    /* right: -5px; */
    /* top: -5px; */
    /* width: 20px; */
    /* height: 20px; */
    /* right: -10px; */
    /* top: -10px; */
    margin-left: -12px;
    line-height: 20px;
    font-size: 10px;
    color: #fff;
    text-align: center;
    background-color: #f00;
    border-radius: 50%;
    position: absolute;
}

legend {
    float: left;
}

.btn-audio audio {
    width: 79px;
    height: 23px;
    opacity: 0;
}

.bar-yang {
    width: 20px;
    height: 20px;
}

/*.face{*/
/*position: absolute;*/
/*top:60px;*/
/*left:167px;*/
/*}*/
/*.face img{*/
/*width:45px;*/
/*height:45px;*/
/*}*/
.v1 {
    width: 300px;
    height: 200px;
    position: absolute;
    top: -17px;
}

.group-infomation {
    margin: 20px 0 0 20px;
}

.group-infomation p:first-child {
    font-weight: bold;
}

.shanchu {
    width: 150px;
    height: 30px;
    margin: 20px 0 0 30px;
    border: none;
    color: #ff3131;
    cursor: pointer;
}

.list-root-pane-list {
    height: 437px;
    overflow-y: auto;
    overflow-x: hidden;
}

.show-info-base {
    text-align: center;
    margin-top: 50px;
}

.show-info-pane {
    width: 80%;
    height: auto;
    margin: 0px auto;
}

.show-info-head {
    padding: 0px 0px 30px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.show-info-content {
    border-bottom: 1px solid #ddd;
    padding: 0px 0px 10px;
    margin-bottom: 20px;
}

.show-info-content li {
    margin-top: 20px;
}

.list-node-item li:hover em{
    display: block;
    width: 19px;
    height: 19px;
    background: url(../images/chat/item_close.png) no-repeat;
    float: right;
    margin-right: 8px;
    margin-top: 9px;
}
